.modal {
visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modal__is-opened {
visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}



.form-modal__container {
    background-color: white;
        max-width: 440px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 28px 28px 36px;
}

.form-modal__close-btn {
    background-image: url(../../assets/closebuttondark.svg);
        height: 20px;
        width: 20px;
        border: none;
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 0;
        transition: opacity 0.3s ease-in-out;
}

.form-modal__close-btn:hover {
    cursor: pointer;
    opacity: 70%;
}

.form-modal__tittle {
    font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: black;
        margin: 0;
        max-height: 20px;
        max-width: 95px;

}

.form-modal__smt-btn {
    font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: white;
        border: none;
        border-radius: 4px;
        height: 36px;
        padding: 0 16px;
        transition: background-color 0.3s ease-in-out;
        margin-top: 32px;
}

.form-modal__smt-btn:enabled {
    background-color: black;
}

.form-modal__smt-btn:disabled{
    background-color: rgba(0, 0, 0, 0.3);
}

.form-modal__smt-btn:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
