.weather-toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.weather-toggle__label {
  border: 2px solid rgba(126, 126, 126, 1);
  width: 52px;
  height: 24px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.weather-toggle__button {
  background: rgba(0, 0, 0, 1);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: 0.3s;
}

.weather-toggle:checked + .weather-toggle__label .weather-toggle__button {
  left: calc(100% - -2px);
  transform: translateX(-100%);
}

.weather-toggle__label:active .weather-toggle__button {
  border: 2px solid black;
}

.weather-toggle__text {
  position: absolute;
  z-index: 1000;
  color: rgba(126, 126, 126, 1);
}

.weather-toggle__text_color-white {
  color: rgba(255, 255, 255, 1);
}

.weather-toggle__text_fahrenheit {
  left: 7px;
}

.weather-toggle__text_celsius {
  right: 7px;
}

@media screen and (max-width: 755px) {
  .weather-toggle__label {
    margin: 0 0 40px 0;
  }
}
