.modal__legend {
  margin: 0 0 12px;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-buttons {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-input {
  margin: 0;
  width: 16px;
  height: 16px;
}

.modal__radio-input:checked + span {
  color: black;
}
