.page {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: black;
  background-color: rgba(243, 243, 243, 1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.page__content {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Mobile spacing */
@media screen and (max-width: 755px) {
  .page__content {
    padding: 0 16px;
  }
}
