.header {
  width: 100%;
  padding: 32px 40px 28px;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__container_logo-date {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo-link {
  display: flex;
  text-decoration: none;
}

.header__logo {
  width: 89px;
  height: 40px;
  display: block;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
}

.header__container_profile-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__container_profile-details_desktop {
  display: flex;
}

.header__button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  color: black;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: black;
}

.header__name {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__mobile-menu-button {
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
  padding: 0;
  border-radius: 10px;
}

.header__container_profile-details_mobile-modal {
  display: none;
}

.profile-modal__close-button {
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  align-self: flex-end;
}

@media screen and (max-width: 755px) {
  .header {
    padding: 18px 16px;
  }

  .header__date-location {
    font-size: 16px;
    line-height: 20px;
  }

  .header__container_profile-details_desktop {
    display: none;
  }

  .header__mobile-menu-button {
    display: block;
  }

  .header__container_profile-details_mobile-modal {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 343px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
    z-index: 1000;
  }

  .header__details-mobile {
    width: 100%;
    justify-content: space-between;
  }
}
