.sidebar {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__username {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}